#######################################
########APP Settings ##########
#######################################

# enable debug mode.  Disable this in production!
DEBUG = False

# Secret key for app encryption.
# Simple way to generate a random secret key:
#
#    python -c "print repr(__import__('os').urandom(40))"
DATABASE = '/tmp/flaskr.db'
SECRET_KEY = '7\x14\x8e4\xcb~\xf6\x02\x89\xcb\x1d&\xfc}\xd9\x19\x9c\xab\x03k\x80TM>\x86\xc0d>\xbc\x11\xa0\x0c;6&\xd6\xf4\x1e4y'
USERNAME = 'admin'
PASSWORD = 'default'
